<div class="jumbotron">
    <div class="container">
      <h1 class="title">{{ page.title }} {% if page.tagline %} <br/><small class="subtitle">{{ page.tagline }}</small>{% endif %}</h1>
    </div>
</div>

<div class="row">
  <div class="container">
    {{ content }}
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-4">
      <h2>Contrib Projects</h2>
      <p>View the projects under the contrib organisation.</p>
      <p><a class="btn btn-default" href="https://github.com/WindowsAzure-Contrib">View projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Wider Community Projects</h2>
      <p>As well as the projects hosted here, there are a number of projects available in the wider community.</p>
      <p><a class="btn btn-default" href="/wider-community.html">View projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Contributors</h2>
      <p>Find out who is contributing to Windows Azure Contrib</p>
      <p><a class="btn btn-default" href="/contributors.html">View contributors &raquo;</a></p>
   </div>
  </div>
</div>