<div class="jumbotron">
    <div class="container">
      <h1>{{ page.title }} {% if page.tagline %} <br/><small>{{ page.tagline }}</small>{% endif %}</h1>
    </div>
</div>

<div class="row">
  <div class="container">
    {{ content }}
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Contrib Projects</h2>
    <p>View the projects under the contrib organisation.</p>
    <p><a class="btn" href="https://github.com/WindowsAzure-Contrib">View projects &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Wider community projects</h2>
    <p>As well as the projects hosted here, there are a number of projects available in the wider community.</p>
    <p><a class="btn" href="/wider-community.html">View projects &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Microsoft Projects</h2>
    <p>The open source projects funded by Microsoft are also on GitHub</p>
    <p><a class="btn" href="https://github.com/WindowsAzure">View projects &raquo;</a></p>
 </div>
</div>